<!-- SINTAXIS HTML  -->
<!-- <nombre_etiqueta atributo="valor">CONTENIDO</nombre_etiqueta> -->
<!-- etiqueta que dice al navegador que es un doc. HTML -->
<!DOCTYPE html>
<!-- etiqueta contenedora de todos los elementos HTML -->
<html lang="es">
<!-- head: contiene los elementos de config. de la pag. web -->

<head>
    <!-- codifica los caracteres especiales -->
    <meta charset="UTF-8">
    <!-- compatibilidad con IE EDGE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- para que sea correcta la visualizacion en Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo de la pag web  -->
    <title>Inicio</title>
    <!-- link a css  -->

</head>

<body>
    <!-- CABECERA -->
    <!-- dentro de la etiqueta body, añadimos los elementos visuales de nuestra pag web -->

    <main>


                <div>
                    <a id="inicio_sesion" href="/"><input id="inicio_sesion" type="button" value="iniciar sesion"></a>
                </div>

                <div>
                    <a id="registro" href="/"><input id="registro" type="button" value="registrarse"></a>
                </div>

        </div>
    </main>

</body>

</html>